*{
    padding: 0px;
    margin: 0px;
}

header{
    color: #e00000;
    display:flex;
    justify-content:space-between;
    background-color: #4e96a8;
    padding: 40px;
    border-bottom: 1px solid green;
    box-shadow: 10px 0px #fff;
    width: 100%;
    box-sizing: border-box;
    z-index: 1; 
}
#img{
    z-index: 1;
    border-radius: 30px;
    
}

#main{

     background-color: #cdd0e7; 
    /* padding: 100px; */
    z-index: 0; 
    width: 100%;
    box-sizing: border-box;
    
}

#h1{
    color: aliceblue;
    text-align: center;
}

.margen{
      margin-left: 20 px;  
    
}
 
#down1{
text-decoration: none;
color: #fff;
}
.b1{
    /* margin-left: 350px;
    margin-top: 50px;
     */
    padding: 10px 30px; 
    background-color: rgb(173, 209, 230); 
    border: none; 
    border-radius: 30px 15px;
    font-size: 16px; 
    cursor: pointer; 
}

.b1:hover {
    background-color: #0062ff; 
    color: white;  
    
}

.buttons{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex; 
    justify-content: center;
    gap: 100px; 
    
}

footer{
    background-color:  #171614;
    /* padding-top: 0px important!; */
    padding: 50px;
    z-index: 0;
    margin-top: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    text-align: center;
}